{% load static %}

<!DOCTYPE html>
<html ng-app="prosulekha">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pro-Sulekha.com</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU_WFbwvWpo2P7S1oV8Csgl0zHbwRwbAs&libraries=places"></script>
<script type="text/javascript">
	function initialize() {

var input = document.getElementById('searchTextField');
var autocomplete = new google.maps.places.Autocomplete(input);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


</head>
<body style="background: linear-gradient(-90deg, #f2f3f4,#a3bbe0); ">
	
		<div class="row logohead1" ng-controller="homeCtrl"  >
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<img src="{% static 'Logos/logo.jpg' %}" class="imgstyle">
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<p class="txt">Pro-Sulekha.com</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
			</div>
			
			{% if uname == None %}
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-sign-in fa-2x" style="margin-top: 15px;" aria-hidden="true"></i>
				<button class="btn btn-info marg" ng-click='login()'>Login</button>
				<!-- <a ui-sref="login" class="btn btn-info marg" ng-click='login()'>Login</a> -->
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-user-plus fa-2x" style="margin-top: 15px;" aria-hidden="true"></i>
				<button class="btn btn-info marg" ng-click='login()'>Sign UP</button>
			    </div>
			
			{% else %}
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-sign-in fa-2x" style="margin-top: 15px;" aria-hidden="true"></i>
				<button class="btn btn-info marg" >Hello,{{uname}}</button>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-user-plus fa-2x" style="margin-top: 15px;" aria-hidden="true"></i>
				<a class="btn btn-info marg" href="/sulekha/logout">Logout</a>
			    </div>
			
			{% endif %}
			
			
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				<i class="fa fa-upload fa-2x" style="margin-top: 15px;" aria-hidden="true"></i>
				<button class="btn btn-info marg" ng-click='post()'>Post Your Requirements</button>
			</div>
		</div>

		<div class="nav">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-5"><a href="#" style="font-size: 25px;">Rentals</a></div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-3 col-xs-5">
					<a href="#"  style="font-size: 25px;">Jobs</a>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-5"><a href="#" style="font-size: 25px;">Roommates</a></div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5"><a href="#" style="font-size: 25px;">Day-Care</a></div>
				<div class="hidden-lg hidden-md col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-3 col-xs-5"><a href="#" style="font-size: 25px;">Services</a></div>
				</div>
			</div>

			<div class="row logohead" style="margin-top: 10px; height:300px; ">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
						<p class="txt">SIMPLEST WAY TO DISCOVER</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-1 col-xs-4">
					 	<div class="dropdown">
  							<button class="dropbtn">ALL</button>
  							<div class="dropdown-content">
							    <a href="#">Rentals</a>
							    <a href="#">Roomservice</a>
					
							    <a href="#">Day-care</a>
							    <a href="#">service</a>
  						    </div>
						</div>
						<input type="text" class="ip" name="search" placeholder="Enter the keywords to search" >
					</div>
					<div class="col-lg-6 col-md-6 col-sm-1 col-xs-4">
						<input type="text" class="ip" name="location" id="searchTextField" placeholder="Enter the location" >
						<button class="btn btn-info " style="height:45px; ">Search</button>
					</div>
					<div class="col-lg-12 col-md-12"></div>
					<div class="col-lg-2 col-md-2"></div>
					<div class="col-lg-6 col-md-6" style="margin-top: 50px;">
					<div class="animdiv" >
						<p class="anim">Your search ends here...</p></div></div>
		</div>

	
		<div ui-view>
		
		<!-- {% for i in showData %}
			{{i.house_type}}
			{{i.rooms}}
			{{i.location}}
			{{i.address}}
			{{i.city}}
			{{i.state}}
			{{i.zipcode}}
			{{i.images}}
			{{i.details}}

		{% endfor %} -->

		</div>


		

		<div class="row logohead1" style="margin-top: 15px;" >
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
				<img src="{% static 'Logos/logo.jpg' %}" class="imgstyle">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-1 col-xs-4">
				<a href="#"  style="font-size: 25px;">About US</a>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-1 col-xs-4">
				<a href="#"  style="font-size: 25px;">Connect With US</a>
				<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				<i class="fa fa-twitter fa-2x" style="margin-left: 20px;" aria-hidden="true"></i>
				<i class="fa fa-instagram fa-2x" style="margin-left: 20px;" aria-hidden="true"></i>
				<i class="fa fa-google-plus fa-2x" style="margin-left: 20px;" aria-hidden="true"></i>
			</div>

			<div class="col-lg-3 col-md-1">
			
			</div>
			<div class="col-lg-3 col-md-2 col-sm-1 col-xs-4" style="margin-left: 160px;">
				<a href="#"  style="font-size: 25px;">Contact US</a>
			</div>
			
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/loginPage.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/config.js' %}"></script>
</body>
</html>