{% load static %}
<div class="row logohead" style="margin-top: 10px;">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
					
					</div>

					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 ic">
						<img src="{% static 'Logos/rental-icon.png' %}">
						Rentals
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
					</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 ic">
<!-- 				<img src="Images/roommate-icon.png">
 -->				<img src="{% static 'logos/roommate-icon.png' %}" alt="My image"/>

				Roommates
				</div>
				<div class="col-lg-4 col-md-4 col-sm-1 col-xs-4">
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 ic">
<!-- 				<img src="Images/daycare-icon.png">
 -->				<img src="{% static 'logos/daycare-icon.png' %}" alt="My image"/>
				Day-Care
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 ic">
<!-- 				<img src="Images/local-service-icon.png">
 -->				<img src="{% static 'logos/local-service-icon.png' %}" alt="My image"/>
				Services
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
				</div>
		</div>